.social {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 10px;
    position: relative;
    z-index: 1001;
}

.social_item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55px;
    height: 55px;
    border-radius: 100%;
    box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.1);
    background-color: #000;
    transition: all 0.1s linear;
    &:hover {
        box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.4);
    }
}

.border_wrapper {
    padding: 1px;
    border-radius: 50%;
    background: linear-gradient(321.52deg, rgba(255, 255, 255, 0.54) -100%, rgba(255, 255, 255, 0) 101.43%), linear-gradient(187.35deg, rgba(100, 100, 100, 0.1) 90%, #D9D9D9 120.23%)
  }
