header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background: #000000;
    border-radius: 0px 0px 46px 46px;
    padding: 20px 20px;

    @media (max-width: 1023px) {
        padding: 25px 20px 0px;
    }
}

.header_border_wrapper {
    padding: 1px;
    border-radius: 0 0 47px 47px;
    background: linear-gradient(331.52deg, rgba(255, 255, 255, 0.54) -100%, rgba(255, 255, 255, 0) 101.43%), linear-gradient(187.35deg, rgba(100, 100, 100, 0.2) 100%, #D9D9D9 100.23%);
    @media (max-width: 1023px) {
        padding: 0;
        border-radius: 0;
        background: none;
    }
}