/* Reset Styles */
*,
*::before,
*::after {
  box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

textarea:focus, input:focus{
  outline: none;
}

ul[class],
ol[class] {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

div {
  -webkit-tap-highlight-color: transparent;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img {
  display: block;
  width: 100%;
}

article > * + * {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}

/* Main Styles */
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Arimo", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #000;
  color: #fff;
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  max-width: 1440px;
  position: relative;
  margin: 0 auto;
}

.container {
  padding: 0 40px;
  width: 100%;

  @media (max-width: 1023px) {
    padding: 15px;
    max-width: 650px;
    margin: 0 auto;
    position: relative;
  }
}

section {
  margin-top: 100px;
  position: relative;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: fit-content;
  column-gap: 10px;
  position: relative;
  z-index: 1000;

  @media (max-width: 1050px) {
    column-gap: 10px;
  }

  @media (max-width: 1023px) {
      position: fixed;
      left: 0;
      top: -205vh;
      max-height: 100vh;
      overflow-y: scroll;
      width: 100vw;
      min-height: 100vh;

      display: flex;
      flex-direction: column;
      justify-content: initial;
      row-gap: 30px;

      padding: 35px 10px;
      background-color: #000;
      box-shadow: 0px 5px 7px rgba(255, 255, 255, 0.4);

      transition: top 0.45s ease-in-out;
  }

  &.active {
    top: 0;
  }
}

.button_white {
  background-color: #fff;
  color: rgba(0, 0, 0, 0.7);
  font-size: 25px;
  font-weight: 400;
  padding: 12px 30px;
  border-radius: 23px;
  border-width: 2px;
  border-style: outset;
  border-color: buttonborder;
  cursor: pointer;
  border-image: initial;
  box-shadow: 0px 0px 15px rgba(255, 255, 255, 0);
  transition: all 0.1s linear;
  opacity: 0.9;
  &:hover {
    opacity: 1;
    color: rgba(0, 0, 0, 1);
  }

  @media (max-width: 1023px) {
    font-size: 20px;
    padding: 10px 20px;
  }
}
