.container {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

  .results {
    display: flex;
    flex-direction: column;
    gap: 32px;

    .info {
      display: flex;
      flex-direction: column;
      gap: 12px;

      .title {
        font-size: 32px;
      }

      .answers {
        font-size: 18px;
      }
    }
  }
}
