.slider {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  position: relative;

  @media (max-width: 1023px) {
    width: 100%;
  }

  .slide {
    position: absolute;
    top: -1000px;
    left: -1000px;
    opacity: 0;
    transition: opacity 0.2s linear;

    background: rgba(0, 0, 0, 0.1);
    border: 1px solid #313131;
    box-shadow: inset 0 0 15px rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(10px);
    padding: 30px;
    border-radius: 30px;
    max-width: 517px;

    @media (max-width: 1023px) {
      width: 100%;
      box-shadow: inset 0 0 15px rgba(255, 255, 255, 0.25);
      padding: 15px;
      max-width: 400px;
    }

    &.active {
      position: relative;
      top: initial;
      left: initial;
      height: initial;
      opacity: 1;
    }

    img {
      border-radius: 15px;
    }
  }

  .slider_arrows {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-top: 40px;
    @media (max-width: 1023px) {
      margin-top: 30px;
      max-width: 450px;
    }
  }

  .arrow {
    width: 75px;
    height: 75px;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 50%;
    box-shadow: 0 0 15px rgb(255 255 255 / 25%);
    border: 1px solid #313131;
    transition: all 0.1s linear;
    cursor: pointer;

    &:hover {
      box-shadow: 0 0 15px rgb(255 255 255 / 45%);
    }

    svg {
      width: 18px;
      height: 31px;
      margin-left: 5px;
    }
  }

  .left-arrow {
    transform: rotate(-180deg);
  }
}
